:root{
    --buttonN: #87a2ff;
    --buttonY:#5479ff;;
    --backgroundClr:#ebf4f6;
    --alert:#e85c0d;
    --inactive:#b6bbc4;
    --success:#9bcf53;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 250, 171);
    min-height: 100svh;
    
}

.container{
    background-image: url(background.png);
    background-repeat: no-repeat;
     background-size: cover;
    background-color: rgb(255, 218, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    padding: 25px 15px 15px 15px;
    background-color: var(--backgroundClr);
    border: 1px solid var(--inactive);
    border-radius: 8px;
    width: 500px;
    margin:0 20px 0 20px;
    
    
}

input::placeholder{
    background-color: white
}

label{
    font-weight: 900;
}

input{
    border: 1px solid var(--inactive);
}

#name,#email{
    padding: 5px;
    outline: none;
}

#dept{
    background-color: white;
    outline: none;
    border: 1px solid var(--inactive);
    padding: 8px;
    width: 100%;
    margin-top: 15px;
}       


.items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

#message{
    resize: none;
    width: 100%;
    min-height: 200px;
    font-size: 1rem;
    border: 1px solid var(--inactive);
    outline: none;
}

button{
    color: white;
    background-color: var(--buttonY);
    font-size: 1rem;
    font-weight: 900;
    padding: 10px;
    border: none;
    transition-duration:0.2s ;
    
}

button:hover{
    box-shadow: -1px 1px 6px rgba(107, 107, 107, 0.562);
}

@media (max-width: 475px){
    form{
        width:100%;
        margin: 0;
        min-height: 100svh;
        border-radius: 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

}

@media (max-width: 648px){
   
    
}

@media (max-width: 768px){

    
}


@media (max-width: 1280px){
    
}